# Server Configurations
HOST=127.0.0.1
PORT=8000
DEBUG=True

# Security Settings
# Generate a secret key using: openssl rand -hex 32
JWT_SECRET_KEY=supersecretjwtkeyforcropsystemphaseone2026version
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Settings
# For local MongoDB, use: mongodb://localhost:27017/crop_disease_db
# For MongoDB Atlas, use: mongodb+srv://<username>:<password>@cluster0.mongodb.net/crop_disease_db?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/crop_disease_db
DATABASE_NAME=crop_disease_db

# NVIDIA NIM API Settings
NVIDIA_API_KEY=YOUR_NEW_NVIDIA_API_KEY
NVIDIA_API_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL_NAME=meta/llama-3.1-8b-instruct

